<!--
  Generated template for the Match page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>match</ion-title>
    Zalogowany: {{currentUser.email}}
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
<div>{{currentMatch.date}}</div>
<div>{{currentMatch.description}}</div>
<div>{{currentMatch.location}}</div>
<div><span *ngFor="let player of currentMatch.players" [ngClass]="{'selected' : player.name===pickedPlayer}" (click)="pickPlayer(player.name)">{{player.name}} </span></div>
<div>RED: <span *ngFor="let player of currentMatch.teams?.red" >{{player.name}} </span></div>
<div>WHITE: <span *ngFor="let player of currentMatch.teams?.white" >{{player.name}} </span></div>

    <button ion-button (click)="join()" [style.display]="!isPlayerJoined() ? 'block' : 'none'">Dołącz</button>
        <button ion-button (click)="leave()" [style.display]="isPlayerJoined() ? 'block' : 'none'">Wyjdz</button>
    <button ion-button (click)="random()">Losuj</button>
    <button ion-button (click)="showGuestModal()">Dodaj gracza</button>
    <button ion-button warning [style.display]="pickedPlayer ? 'block' : 'none'" (click)="removePlayer(pickedPlayer)">Usuń gracza</button>
</ion-list>
</ion-content>
