// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title{
    font-family: 'Oswald', sans-serif !important;
}
.header{
    padding: 0 10px;
	min-height: 75px;
	color: white;
	background: url("../assets/images/back.png") center center no-repeat;
    background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;

    .nav-button{
        background: 0;
        i{
            color:#efefef;
            font-size: 22px;
            margin: 0 3px;
        }
    }
}


.toolbar{
    .toolbar-background{
        background: none;

    }
    color: white;

    .title{
        color: white;
        .toolbar-title{
            color: white;
        }
    }

    .back-button-icon{
        color: white;
    }
}




.list-md .item-input:last-child {
    border: 0;
}
.item-md.item-input.input-has-focus .item-inner{
    box-shadow: none;
}
.item-md.item-input.input-has-focus:last-child{
    box-shadow: none;
}